/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    vertical-align: middle;
}


body {
    padding: 100px;
    background-color: #fff;
    font-size: 12px;
    line-height: 1.5;
    font-family: "微软雅黑";
    color: #666;
}

.poster-main {
    position: relative;
    width: 800px;
    height: 320px;
    margin-bottom: 50px;
}

.poster-main .poster-list {
    width: 800px;
    height: 320px;
}
.poster-main .poster-item {
    position: absolute;
    left: 0;
    top: 0;
}

.poster-main .poster-item a, .poster-main .poster-item img {
    display: block;
}

.poster-main .poster-btn {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100px;
    height: 320px;
    cursor: pointer;
}
.poster-main .poster-prev-btn {
    left: 0;
    background: url(../images/btn_l.png) no-repeat scroll center center transparent;
}
.poster-main .poster-next-btn {
    right: 0;
    background: url(../images/btn_r.png) no-repeat scroll center center transparent;
}